<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	<%= render @users %> 
	<%# Llamar al partial con una variable @users (no con un string) 
		Rails deduce que @users es una lista de usuarios
	    Rails automatically iterates through them and renders each one with the _user.html.erb%>
</ul>

<%= will_paginate %>