<% if object.errors.any? %>
  <div id="error_explanation">

    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
      <!-- pluralize returns "0 errors", "1 error", "2 errors", "3 errors"... -->
    </div>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>

  </div>
<% end %>